services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://mongodb:27017/"
      DBNAME: insiderone
      WEBHOOK_URI: "<redacted>"
    restart: unless-stopped
  mongo:
    image: "mongo:latest"
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped


volumes:
  mongo_data:
