services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://mongodb:27017/"
      DBNAME: insiderone
      WEBHOOK_URI: "https://webhook.site/f0b85fd8-1cd8-40c8-b073-2e7fe2daf07d/"
      REDIS_URI: redis:6379
    restart: unless-stopped
  mongo:
    image: "mongo:latest"
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes: 
      - cache:/data/cache

volumes:
  mongo_data:
  cache: